USE [QLKTXSPKT3]
GO
/****** Object:  Table [dbo].[CAPPHONG]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAPPHONG](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MSSV] [int] NOT NULL,
	[MaPhong] [char](6) NOT NULL,
	[NgayCap] [date] NOT NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_CAPPHONG_STT] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COSO]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COSO](
	[MaCoSo] [char](2) NOT NULL,
	[DiaDiem] [nvarchar](80) NULL,
 CONSTRAINT [PK_COSO_MaCoSo] PRIMARY KEY CLUSTERED 
(
	[MaCoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIENNUOC]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIENNUOC](
	[MaDienNuoc] [int] IDENTITY(1,1) NOT NULL,
	[NgayGhi] [date] NOT NULL,
	[SoDienDau] [int] NOT NULL,
	[SoNuocDau] [int] NOT NULL,
	[SoDienCuoi] [int] NULL,
	[SoNuocCuoi] [int] NULL,
	[TongTien] [int] NULL,
	[TinhTrang] [int] NOT NULL,
	[MaPhong] [char](6) NOT NULL,
 CONSTRAINT [PK_DIENNUOC_MaDienNuoc] PRIMARY KEY CLUSTERED 
(
	[MaDienNuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DINHMUC]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DINHMUC](
	[MaDinhMuc] [char](2) NOT NULL,
	[SoTien] [int] NOT NULL,
	[GhiChu] [nvarchar](10) NULL,
 CONSTRAINT [PK_DINHMUC_MaDinhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDinhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HINHTHUC]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HINHTHUC](
	[MaHT] [int] IDENTITY(1,1) NOT NULL,
	[KieuHT] [char](2) NOT NULL,
	[TenHT] [nvarchar](20) NOT NULL,
	[MoTa] [nvarchar](100) NULL,
 CONSTRAINT [PK_HINHTHUC_MaHT] PRIMARY KEY CLUSTERED 
(
	[MaHT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MSSV] [int] NOT NULL,
	[ThoiGianDK] [date] NOT NULL,
	[ThoiGianHH] [date] NOT NULL,
	[TienPhong] [int] NOT NULL,
 CONSTRAINT [PK_HOPDONG_MaHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [char](6) NOT NULL,
	[TruongPhong] [int] NULL,
	[SoLuongMax] [int] NOT NULL,
	[SoLuongHienTai] [int] NOT NULL,
	[MaTang] [char](4) NOT NULL,
 CONSTRAINT [PK_PHONG_MaPhong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QLTBPHONG]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QLTBPHONG](
	[MaQL] [int] IDENTITY(1,1) NOT NULL,
	[MaTB] [int] NOT NULL,
	[MaPhong] [char](6) NOT NULL,
	[SoLuong] [int] NULL,
	[MoTa] [nvarchar](30) NULL,
	[Nam] [date] NULL,
 CONSTRAINT [PK_QLTBPHONG_MaQL] PRIMARY KEY CLUSTERED 
(
	[MaQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYETDINH]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYETDINH](
	[MaQD] [int] IDENTITY(1,1) NOT NULL,
	[MSSV] [int] NOT NULL,
	[MaHT] [int] NOT NULL,
	[NgayQD] [date] NULL,
 CONSTRAINT [PK_QUYETDINH_MaQD] PRIMARY KEY CLUSTERED 
(
	[MaQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MSSV] [int] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](3) NOT NULL,
	[CMND] [int] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[NienKhoa] [char](9) NOT NULL,
	[HoKhau] [nvarchar](80) NOT NULL,
	[SDT] [char](15) NULL,
	[DienUuTien] [nvarchar](30) NULL,
	[TinhTrang] [int] NULL,
	[Ghichu] [nvarchar](max) NULL,
 CONSTRAINT [PK_SINHVIEN_MSSV] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TANG]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TANG](
	[MaTang] [char](4) NOT NULL,
	[LoaiTang] [nvarchar](3) NULL,
	[TruongTang] [int] NULL,
	[MaCoSo] [char](2) NOT NULL,
 CONSTRAINT [PK_TANG_MaTang] PRIMARY KEY CLUSTERED 
(
	[MaTang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[MaTN] [int] IDENTITY(1,1) NOT NULL,
	[HoTenTN] [nvarchar](100) NOT NULL,
	[QuanHe] [nvarchar](10) NOT NULL,
	[NgheNghiep] [nvarchar](30) NULL,
	[SDT] [char](15) NULL,
	[MSSV] [int] NOT NULL,
 CONSTRAINT [PK_THANNHAN_MaTN] PRIMARY KEY CLUSTERED 
(
	[MaTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 1/19/2015 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MaTB] [int] IDENTITY(1,1) NOT NULL,
	[TenTB] [nvarchar](30) NOT NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_THIETBI_MaTB] PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CAPPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CAPPHONG_MaPhong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAPPHONG] CHECK CONSTRAINT [FK_CAPPHONG_MaPhong]
GO
ALTER TABLE [dbo].[CAPPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CAPPHONG_MSSV] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINHVIEN] ([MSSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAPPHONG] CHECK CONSTRAINT [FK_CAPPHONG_MSSV]
GO
ALTER TABLE [dbo].[DIENNUOC]  WITH CHECK ADD  CONSTRAINT [FK_DIENNUOC_MaPhong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DIENNUOC] CHECK CONSTRAINT [FK_DIENNUOC_MaPhong]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_MSSV] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINHVIEN] ([MSSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_MSSV]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_MaTang] FOREIGN KEY([MaTang])
REFERENCES [dbo].[TANG] ([MaTang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_MaTang]
GO
ALTER TABLE [dbo].[QLTBPHONG]  WITH CHECK ADD  CONSTRAINT [FK_QLTBPHONG_MaPhong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QLTBPHONG] CHECK CONSTRAINT [FK_QLTBPHONG_MaPhong]
GO
ALTER TABLE [dbo].[QLTBPHONG]  WITH CHECK ADD  CONSTRAINT [FK_QLTBPHONG_MaTB] FOREIGN KEY([MaTB])
REFERENCES [dbo].[THIETBI] ([MaTB])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QLTBPHONG] CHECK CONSTRAINT [FK_QLTBPHONG_MaTB]
GO
ALTER TABLE [dbo].[QUYETDINH]  WITH CHECK ADD  CONSTRAINT [FK_QUYETDINH_MaHT] FOREIGN KEY([MaHT])
REFERENCES [dbo].[HINHTHUC] ([MaHT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUYETDINH] CHECK CONSTRAINT [FK_QUYETDINH_MaHT]
GO
ALTER TABLE [dbo].[QUYETDINH]  WITH CHECK ADD  CONSTRAINT [FK_QUYETDINH_MSSV] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINHVIEN] ([MSSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUYETDINH] CHECK CONSTRAINT [FK_QUYETDINH_MSSV]
GO
ALTER TABLE [dbo].[TANG]  WITH CHECK ADD  CONSTRAINT [FK_TANG_MaCoSo] FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[COSO] ([MaCoSo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TANG] CHECK CONSTRAINT [FK_TANG_MaCoSo]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_THANNHAN_MSSV] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINHVIEN] ([MSSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_THANNHAN_MSSV]
GO
