<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConfigAutomation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <ConfigAutomation.Properties.Settings>
      <setting name="ConfigAutomation_SIEWS_INT" serializeAs="String">
        <value>http://10.124.16.163/SIE-INT/INT.asmx</value>
      </setting>
      <setting name="ConfigAutomation_SIEWS_INT2nd" serializeAs="String">
        <value>http://10.124.16.163/SIE-INT/INT.asmx</value>
      </setting>
    </ConfigAutomation.Properties.Settings>
  </applicationSettings>
  <appSettings>

    <!-- JABIL SFS (Shop Floor System) in SWI Network  -->
    <add key="ServerAddress" value="10.27.91.9" />
    <!-- FTP Port, default is 21-->
    <add key="ServerPort" value="21" />
    <!-- -->
    <add key="UserName" value="JabilSFS" />
    <!-- -->
    <add key="Password" value="" />
    <!-- -->
    <add key="ServerDirectory" value="" />
    <!-- .7xxout file -->
    <add key="ConfigOut" value="C:\AC710\OUT" />
    <!-- Output folder of .log files from Config FACT (Factory Configuration Tool) program -->
    <add key="ConfigLog" value="C:\AC710\OUT\Logs" />
    <!-- Output folder of errors files from Config FACT (Factory Configuration Tool) program -->
    <add key="ConfigErrors" value="C:\AC710\OUT\Logs\errors" />
    <!-- Timeout for 1st Web service-->
    <add key="Timeout1stWS" value="3" />
    <!-- Timeout for 2nd Web service-->
    <add key="Timeout2ndWS" value="10" />

    <!--Default: 0; 0 - Normal; 1: KVM Mode-->
    <add key="ClientMode" value="0"/>
    <!--IP Server-->
    <add key="IPServer" value=""/>
    <!--IP Client-->
    <add key="IPClient" value=""/>
    <!--Port Server-->
    <add key="PortServer" value=""/>
    <!--Port Client-->
    <add key="PortClient" value=""/>
  </appSettings>
</configuration>