USE [ACCOUNT]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 1/19/2015 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaChucVu] [int] NOT NULL,
	[TenChucVu] [nvarchar](32) NOT NULL,
	[TinhTrang] [int] NOT NULL,
	[ChiTietChucVu] [nvarchar](32) NULL,
	[MatKhau] [nvarchar](100) NULL,
 CONSTRAINT [PK_CHUCVU_MaChucVu] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 1/19/2015 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MaPhanCong] [int] IDENTITY(1,1) NOT NULL,
	[MaChucVu] [int] NOT NULL,
	[TenDanhMuc] [nvarchar](32) NOT NULL,
	[ChiXem] [int] NOT NULL,
	[Them] [int] NULL,
	[Sua] [int] NULL,
	[Xoa] [int] NULL,
 CONSTRAINT [PK_PHANCONG_MaPhanCong] PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 1/19/2015 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TenTaiKhoan] [nvarchar](20) NOT NULL,
	[TinhTrang] [int] NOT NULL,
	[MaChucVu] [int] NULL,
	[MatKhauTK] [nvarchar](32) NULL,
 CONSTRAINT [PK_TAIKHOAN_STT] PRIMARY KEY CLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_MaChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[CHUCVU] ([MaChucVu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_MaChucVu]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_CHUCVU_MaChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[CHUCVU] ([MaChucVu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_CHUCVU_MaChucVu]
GO
